@model HomeSurveillanceApp.Models.Telemetry

@{
    ViewData["Title"] = "Details";
}

<h1>Details</h1>

<div>
    <h4>Telemetry</h4>
    <hr />
    <dl class="row">
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.ActivityTimeStamp)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.ActivityTimeStamp)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.IOUnit)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.IOUnit.IOUnitId)
        </dd>
    </dl>
</div>
<div>
    <a asp-action="Edit" asp-route-id="@Model.TelemetryId">Edit</a> |
    <a asp-action="Index">Back to List</a>
</div>
